.wrapper {
  font-weight: 300;
  width: 100%;
  box-shadow: 0px 3px 30px 0px #adadad;
}
a {
  text-decoration: none;
  color: black;
}
.wrapper__inner {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  justify-content: space-around;
}
.logo {
}
.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__list ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
li {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
li:hover {
  color: red;
}
.subheader {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f6f2;
}
.subheader__wrapper {
  margin: 0 auto;
  color: #a9a9a9;
  display: grid;
  grid-template-areas: 'location time tel btn';
  grid-template-rows: 1fr 1fr 1fr 2fr;
  width: 100%;
  height: 3em;
  font-size: 13px;
  width: 60%;
}
.location {
  grid-area: location;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.location img {
  margin-right: 5px;
  width: 15px;
}
.tel {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: tel;
}
.work__time {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: time;
}
.subheader__btn {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 2.714em;
  padding: 10px;
  margin: 0 auto;
  background-color: #3d65b8;
  grid-area: btn;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.subheader__btn:hover {
  background-color: red;
}
.subheader__btn a {
  color: white !important;
}
.subheader__btn img {
  color: white;
  width: 15px;
  margin-right: 5px;
}
